* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100px;
    background: url(./assets/images/BackgroundWeather.png);
    background-size: cover;
}

header {
    width: 100%;
    height: 75px;
    background-color: rgb(47, 47, 237);
    color: white;
}

h1 {
    padding-top: 15px;
}

h2 {
    display: block;
    float: left;

}
p {
    display: block;
    text-align: left;
    font-size: 15px;
    padding: 8px
    
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    padding: 10px;
    font-size: 20px;
}

li {
    background-color:  #467ccc;
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 5px;
    text-align: center;
    width: 80%; 
    margin-left: 6%; 
    font-size: 20px; 
    border-radius: 4%; 
    padding-top: 1%; 
    padding-bottom: 1%;
}

li:hover {
    background-color: #5583c9;
    cursor: pointer;
}

li:before {
    content: "\200B";
    position: absolute;
  }
  
li::after {
    content: " ";
    display: block;
    clear: both;
  }

.search-menu {
    float: left;
    width: 25%;
    max-width: 100%;
}

#clear-button {
   width: 100%;
}

#todays-forecast {
    display: block;
    width: 74%;
    height: 25%;
    margin-right: 1%;
    background-color: #5583c9;
}

#todays-forecast1,
#todays-forecast2,
#todays-forecast3,
#todays-forecast4,
#todays-forecast5 {
    display: block;
    float: right;
    width: 74%;
    max-height: 25%;
    margin-right: 1%;
    margin-top: 1%;
    background-color: rgb(107, 176, 236);
    overflow: scroll;
}

.todays-forecast6 {
    display: none;
    border: none;
    width: 71.5%;
}

.todays-forecast7 {
    display: none;
    border: none;
    width: 71.5%;
}

img {
    float: right;
}




